<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dunastock">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ESTA ES LA LÍNEA QUE FALTABA: Le dice a Android que esto es para un reloj -->
    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DunaStock Wear"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- Pantalla Principal del Reloj -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <!-- Pantalla Principal del Reloj -->
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla de la Lista de Órdenes -->
        <activity android:name=".presentation.ListaActivity" />

    </application>

</manifest>